Flask==3.0.2
flask_caching==2.1.0
flask_session==0.8.0
matplotlib==3.8.2
numpy==1.26.4
pandas==2.2.1
Pillow==10.3.0
pydantic==2.6.4
pydantic_settings==2.2.1
scikit_learn==1.4.1.post1
seaborn==0.13.2
spotipy==2.23.0
Werkzeug==3.0.2